@import './assets/css/background.css';
@import './assets/css/theme.css';
@import './assets/css/buttons.css';
@import './assets/css/input.css';
@import './assets/css/carousel.css';
@import './assets/css/icons.css';

.fs-14 {
    
    font-size: 12px;
    
}
.display-in {
    display: inline-block;
    font-size: 14px;
    font-weight: 900;

}
.display-inn {
    display: inline-block;
    font-size: 28px;
    font-weight: 600;

}
.text-muted.ps-3 {
    font-size: 12px;
}
.card-day {
    background-color: #4300D2;
    color: #fff;
    border-radius: 8px;
    font-size: 12px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    top: 44%;
    left: 72%;
    font-weight: 600;
}
.card-day-pro {
    background-color: #4300D2;
    color: #fff;
    border-radius: 8px;
    font-size: 12px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    top: 53%;
    left: 72%;
    font-weight: 600;

}
.card-day-all {
    background-color: #4300D2;
    color: #fff;
    border-radius: 8px;
    font-size: 12px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    top: 49%;
    left: 72%;
    font-weight: 600;

}
@media screen and (max-width: 768px) {
    .card-day {
      top: 60%;
      left: 72%;
    }
    .card-day-pro{
        top: 70%;
        left: 72%;

    }
    .card-day-all {
        top: 52%;
        left: 72%;
    
    }
}    
@media screen and (max-width: 992px) {
    .card-day {
        top: 60%;
        left: 72%;
        
      }
      .card-day-pro{
          top: 70%;
          left: 72%;
          
  
      }
      .card-day-all {
          top: 70%;
          left: 72%;
          
      
      }
}
.line-orange {
    background-color: #4300D2;
    width: 20%;
    height: 2px;
    margin-left: 40%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    
}
.utensils {
    padding: 5px;
}
