.background-banner {
    width: 100%;
    height: 100%;
    background-image: url('../img/banner-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.background-banner-result {
    width: 100%;
    height: 80vh;
    background-image: url('../img/banner-16.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

}

