.btn-purple {
    color: var(--bg-white);
    background-color: var(--bg-purple);
    outline: none;
    box-shadow: none;
    font-size: 1rem;
    font-family: "Noto Sans", serif;
    font-weight: 400;
    border-radius: 5;

}
.btn-purple:hover {
    color: var(--bg-white);
    background-color: var(--bg-purple-hover);
}
.btn-purple-outline {
    color: var(--bg-purple);
    background-color: transparent;
    outline: 2px solid var(--bg-purple);
    box-shadow: none;
    font-size: 1rem;
    font-family: "Noto Sans", serif;
    font-weight: 400;
    
}
.btn-purple-outline:hover {
    color: var(--bg-white);
    background-color: var(--bg-purple);
    outline: none;
}
.btn-tooltip-default {
    width: auto;
    height: auto;
    color: var(--bg-purple);
    background-color: transparent;
    box-shadow: none;
    padding: 0px;
    outline: none;
    font-size: 1.2rem;
}
.btn-tooltip-default:hover {
    color: var(--bg-purple-hover);
    background-color: transparent;
    box-shadow: none;
    padding: 0px;
    outline: none;
  
}