@media only screen and (min-width: 768px) {
    .carousel-item-img {
        width: 600px;
        height: 600px;
    }
}
@media only screen and (min-width: 992px) {
    .carousel-item-img {
        width: 600px;
        height: 600px;
    }
}
@media only screen and (min-width: 1200px) {
     .carousel-item-img {
        width: 600px;
        height: 600px;
    }
}