.form-control {
    border: none;
    color: var(--bg-gray);
    background-color: var(--bg-white);
    font-weight: 400;
    font-size: 16px;
}
.form-select {
    border: none;
    color: var(--bg-gray);
    background-color: var(--bg-white);
    font-weight: 400;
    font-size: 16px;
}