@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import './assets/css/buttons.css';
@import './assets/css/background.css';
@import './assets/css/input.css';
@import './assets/css/carousel.css';
@import './assets/css/icons.css';

:root {
    --bg-purple:       #4300D2;
    --bg-purple-hover: #270570;
    --bg-black:        #000000;
    --bg-gray:         #757575;
    --bg-white:        #f4f4f4;
    --bg-yellow:       #fcb705;
    --bg-roxo:         #e9008c;


}
html, body {
    font-size: 16px;
    width: 100%;
    height: 100%;
    font-family: "Noto Sans", serif;
    font-weight: 400;
}
